In [1]:
import pandas as pd
from datasets import load_from_disk

pd.set_option("display.max_colwidth", None)
pd.set_option("display.max_columns", None)

from src.data.utilities import extract_slots, remove_empty_slots

In [2]:
df = pd.concat(
    [
        load_from_disk("../data/prepared/base/sgd_ops_nohist+prev")[split].to_pandas().assign(split=split)
        for split in ("train", "validation", "test")
    ]
)

In [7]:
df["states"] = df["states"].map(remove_empty_slots)
df["previous_states"] = df["previous_states"].map(remove_empty_slots)

In [10]:
df.drop(columns=["schema"])

,dialogue_id,turn_id,sys_utt,usr_utt,states,split,previous_states,previous_id,sys_history,usr_history,input_text,target_text,input_ids,attention_mask,labels
0,100_00000,0,none,I would like to find a concert to attend in SF.,"{'events_1-category': 'Music', 'events_1-city_of_event': 'SF'}",train,None,None,[],[],generate update operations: dialogue: system: none user: I would like to find a concert to attend in SF. <sep> previous dialogue states: none <sep> operations:,INSERT events_1-category = Music ; INSERT events_1-city_of_event = SF,"[3806, 2270, 2673, 10, 7478, 10, 358, 10, 5839, 1139, 10, 27, 133, 114, 12, 253, 3, 9, 4219, 12, 2467, 16, 3, 7016, 5, 3, 32100, 1767, 7478, 2315, 10, 5839, 3, 32100, 2673, 10, 1]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[3, 14750, 24203, 984, 834, 536, 18, 8367, 839, 651, 3274, 3057, 3, 117, 3, 14750, 24203, 984, 834, 536, 18, 6726, 834, 858, 834, 15, 2169, 3274, 3, 7016, 1]"
1,100_00000,1,Allan Rayman is performing at August Hall on March 9th at 6 pm. It is a very popular event.,Can you tell me more about it? Where is the venue located?,"{'events_1-category': 'Music', 'events_1-city_of_event': 'SF'}",train,"{'events_1-category': 'Music', 'events_1-city_of_event': 'SF'}",100_00000,[none],[I would like to find a concert to attend in SF.],generate update operations: dialogue: system: Allan Rayman is performing at August Hall on March 9th at 6 pm. It is a very popular event. user: Can you tell me more about it? Where is the venue located? <sep> previous dialogue states: events_1-category = Music; events_1-city_of_event = SF <sep> operations:,none,"[3806, 2270, 2673, 10, 7478, 10, 358, 10, 432, 152, 8279, 348, 19, 5505, 44, 1660, 2501, 30, 1332, 668, 189, 44, 431, 6366, 5, 94, 19, 3, 9, 182, 1012, 605, 5, 1139, 10, 1072, 25, 817, 140, 72, 81, 34, 58, 2840, 19, 8, 5669, 1069, 58, 3, 32100, 1767, 7478, 2315, 10, 984, 834, 536, 18, 8367, 839, 651, 3274, 3057, 117, 984, 834, 536, 18, 6726, 834, 858, 834, 15, 2169, 3274, 3, 7016, 3, 32100, 2673, 10, 1]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[5839, 1]"
2,100_00000,2,It is a Hip Hop concert at 420 Mason Street.,That sounds fun.,"{'events_1-category': 'Music', 'events_1-city_of_event': 'SF', 'events_1-date': 'March 9th', 'events_1-event_name': 'Allan Rayman'}",train,"{'events_1-category': 'Music', 'events_1-city_of_event': 'SF'}",100_00000,"[none, Allan Rayman is performing at August Hall on March 9th at 6 pm. It is a very popular event.]","[I would like to find a concert to attend in SF., Can you tell me more about it? Where is the venue located?]",generate update operations: dialogue: system: It is a Hip Hop concert at 420 Mason Street. user: That sounds fun. <sep> previous dialogue states: events_1-city_of_event = SF; events_1-category = Music <sep> operations:,INSERT events_1-date = March 9th ; INSERT events_1-event_name = Allan Rayman,"[3806, 2270, 2673, 10, 7478, 10, 358, 10, 94, 19, 3, 9, 16337, 15139, 4219, 44, 3, 21899, 15924, 1887, 5, 1139, 10, 466, 2993, 694, 5, 3, 32100, 1767, 7478, 2315, 10, 984, 834, 536, 18, 6726, 834, 858, 834, 15, 2169, 3274, 3, 7016, 117, 984, 834, 536, 18, 8367, 839, 651, 3274, 3057, 3, 32100, 2673, 10, 1]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[3, 14750, 24203, 984, 834, 536, 18, 5522, 3274, 1332, 668, 189, 3, 117, 3, 14750, 24203, 984, 834, 536, 18, 15, 2169, 834, 4350, 3274, 432, 152, 8279, 348, 1]"
3,100_00000,3,Would you like to purchase tickets?,Not yet. Can you help me find a movie in the same area?,"{'events_1-category': 'Music', 'events_1-city_of_event': 'SF', 'events_1-date': 'March 9th', 'events_1-event_name': 'Allan Rayman', 'movies_1-location': 'SF'}",train,"{'events_1-category': 'Music', 'events_1-city_of_event': 'SF', 'events_1-date': 'March 9th', 'events_1-event_name': 'Allan Rayman'}",100_00000,"[none, Allan Rayman is performing at August Hall on March 9th at 6 pm. It is a very popular event., It is a Hip Hop concert at 420 Mason Street.]","[I would like to find a concert to attend in SF., Can you tell me more about it? Where is the venue located?, That sounds fun.]",generate update operations: dialogue: system: Would you like to purchase tickets? user: Not yet. Can you help me find a movie in the same area? <sep> previous dialogue states: events_1-category = Music; events_1-city_of_event = SF; events_1-event_name = Allan Rayman; events_1-date = March 9th <sep> operations:,INSERT movies_1-location = SF,"[3806, 2270, 2673, 10, 7478, 10, 358, 10, 5328, 25, 114, 12, 1242, 3500, 58, 1139, 10, 933, 780, 5, 1072, 25, 199, 140, 253, 3, 9, 1974, 16, 8, 337, 616, 58, 3, 32100, 1767, 7478, 2315, 10, 984, 834, 536, 18, 8367, 839, 651, 3274, 3057, 117, 984, 834, 536, 18, 6726, 834, 858, 834, 15, 2169, 3274, 3, 7016, 117, 984, 834, 536, 18, 15, 2169, 834, 4350, 3274, 432, 152, 8279, 348, 117, 984, 834, 536, 18, 5522, 3274, 1332, 668, 189, 3, 32100, 2673, 10, 1]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[3, 14750, 24203, 4876, 834, 536, 18, 14836, 3274, 3, 7016, 1]"
4,100_00000,4,"Sure, does Ash is Purest White, Body Double, or Captain Marvel sound good?",Captain Marvel would be nice to see.,"{'events_1-category': 'Music', 'events_1-city_of_event': 'SF', 'events_1-date': 'March 9th', 'events_1-event_name': 'Allan Rayman', 'movies_1-location': 'SF', 'movies_1-movie_name': 'Captain Marvel'}",train,"{'events_1-category': 'Music', 'events_1-city_of_event': 'SF', 'events_1-date': 'March 9th', 'events_1-event_name': 'Allan Rayman', 'movies_1-location': 'SF'}",100_00000,"[none, Allan Rayman is performing at August Hall on March 9th at 6 pm. It is a very popular event., It is a Hip Hop concert at 420 Mason Street., Would you like to purchase tickets?]","[I would like to find a concert to attend in SF., Can you tell me more about it? Where is the venue located?, That sounds fun., Not yet. Can you help me find a movie in the same area?]","generate update operations: dialogue: system: Sure, does Ash is Purest White, Body Double, or Captain Marvel sound good? user: Captain Marvel would be nice to see. <sep> previous dialogue states: events_1-category = Music; events_1-city_of_event = SF; events_1-event_name = Allan Rayman; movies_1-location = SF; events_1-date = March 9th <sep> operations:",INSERT movies_1-movie_name = Captain Marvel,"[3806, 2270, 2673, 10, 7478, 10, 358, 10, 10625, 6, 405, 7153, 19, 7333, 222, 1945, 6, 8501, 8405, 6, 42, 12202, 13927, 1345, 207, 58, 1139, 10, 12202, 13927, 133, 36, 1245, 12, 217, 5, 3, 32100, 1767, 7478, 2315, 10, 984, 834, 536, 18, 8367, 839, 651, 3274, 3057, 117, 984, 834, 536, 18, 6726, 834, 858, 834, 15, 2169, 3274, 3, 7016, 117, 984, 834, 536, 18, 15, 2169, 834, 4350, 3274, 432, 152, 8279, 348, 117, 4876, 834, 536, 18, 14836, 3274, 3, 7016, 117, 984, 834, 536, 18, 5522, 3274, 1332, 668, 189, 3, 32100, ...]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...]","[3, 14750, 24203, 4876, 834, 536, 18, 7168, 23, 15, 834, 4350, 3274, 12202, 13927, 1]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42292,9_00126,1,"With a rating of 85 percent, Once Upon a Time in Hollywood is very popular.",Can you tell me who directed it and which actors are featured in the film?,{'movies_3-genre': 'Eccentric story'},test,{'movies_3-genre': 'Eccentric story'},9_00126,[none],[I'd like to find something an Eccentric story movie to watch. What do you recommend?],"generate update operations: dialogue: system: With a rating of 85 percent, Once Upon a Time in Hollywood is very popular. user: Can you tell me who directed it and which actors are featured in the film? <sep> previous dialogue states: movies_3-genre = Eccentric story <sep> operations:",none,"[3806, 2270, 2673, 10, 7478, 10, 358, 10, 438, 3, 9, 5773, 13, 11989, 1093, 6, 1447, 3, 10688, 3, 9, 2900, 16, 8426, 19, 182, 1012, 5, 1139, 10, 1072, 25, 817, 140, 113, 6640, 34, 11, 84, 10485, 33, 4510, 16, 8, 814, 58, 3, 32100, 1767, 7478, 2315, 10, 4876, 834, 519, 18, 729, 60, 3274, 16208, 17456, 733, 3, 32100, 2673, 10, 1]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[5839, 1]"
42293,9_00126,2,Certainly. The movie stars Timothy Olyphant and was directed by Quentin Tarantino.,Perfect! I love Quentin Tarantino movies. Thanks for the help!,{'movies_3-genre': 'Eccentric story'},test,{'movies_3-genre': 'Eccentric story'},9_00126,"[none, With a rating of 85 percent, Once Upon a Time in Hollywood is very popular.]","[I'd like to find something an Eccentric story movie to watch. What do you recommend?, Can you tell me who directed it and which actors are featured in the film?]",generate update operations: dialogue: system: Certainly. The movie stars Timothy Olyphant and was directed by Quentin Tarantino. user: Perfect! I love Quentin Tarantino movies. Thanks for the help! <sep> previous dialogue states: movies_3-genre = Eccentric story <sep> operations:,none,"[3806, 2270, 2673, 10, 7478, 10, 358, 10, 3, 22243, 5, 37, 1974, 4811, 23720, 411, 120, 8237, 17, 11, 47, 6640, 57, 2415, 295, 77, 5509, 9, 28436, 5, 1139, 10, 7710, 55, 27, 333, 2415, 295, 77, 5509, 9, 28436, 4876, 5, 1333, 21, 8, 199, 55, 3, 32100, 1767, 7478, 2315, 10, 4876, 834, 519, 18, 729, 60, 3274, 16208, 17456, 733, 3, 32100, 2673, 10, 1]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[5839, 1]"
42294,9_00127,0,none,I like to watch a movie. will you find me a movie which has sterling K. Brown as a actor and it should be directed by Thurop Van Orman,"{'movies_3-cast': 'sterling K. Brown', 'movies_3-directed_by': 'Thurop Van Orman'}",test,None,9_00126,[],[],generate update operations: dialogue: system: none user: I like to watch a movie. will you find me a movie which has sterling K. Brown as a actor and it should be directed by Thurop Van Orman <sep> previous dialogue states: none <sep> operations:,INSERT movies_3-cast = sterling K. Brown ; INSERT movies_3-directed_by = Thurop Van Orman,"[3806, 2270, 2673, 10, 7478, 10, 358, 10, 5839, 1139, 10, 27, 114, 12, 1605, 3, 9, 1974, 5, 56, 25, 253, 140, 3, 9, 1974, 84, 65, 24248, 480, 5, 3899, 38, 3, 9, 7556, 11, 34, 225, 36, 6640, 57, 23973, 9505, 4480, 955, 348, 3, 32100, 1767, 7478, 2315, 10, 5839, 3, 32100, 2673, 10, 1]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[3, 14750, 24203, 4876, 834, 519, 18, 5254, 3274, 24248, 480, 5, 3899, 3, 117, 3, 14750, 24203, 4876, 834, 519, 18, 22955, 834, 969, 3274, 23973, 9505, 4480, 955, 348, 1]"
42295,9_00127,1,How about The Angry Birds Movie 2 ? The average rating of the movie is 72 percent.,What is the genre of that movie?,"{'movies_3-cast': 'sterling K. Brown', 'movies_3-directed_by': 'Thurop Van Orman'}",test,"{'movies_3-cast': 'sterling K. Brown', 'movies_3-directed_by': 'Thurop Van Orman'}",9_00127,[none],[I like to watch a movie. will you find me a movie which has sterling K. Brown as a actor and it should be directed by Thurop Van Orman],generate update operations: dialogue: system: How about The Angry Birds Movie 2 ? The average rating of the movie is 72 percent. user: What is the genre of that movie? <sep> previous dialogue states: movies_3-directed_by = Thurop Van Orman; movies_3-cast = sterling K. Brown <sep> operations:,none,"[3806, 2270, 2673, 10, 7478, 10, 358, 10, 571, 81, 37, 3, 8365, 651, 9992, 7, 10743, 204, 3, 58, 37, 1348, 5773, 13, 8, 1974, 19, 9455, 1093, 5, 1139, 10, 363, 19, 8, 5349, 13, 24, 1974, 58, 3, 32100, 1767, 7478, 2315, 10, 4876, 834, 519, 18, 22955, 834, 969, 3274, 23973, 9505, 4480, 955, 348, 117, 4876, 834, 519, 18, 5254, 3274, 24248, 480, 5, 3899, 3, 32100, 2673, 10, 1]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[5839, 1]"
42296,9_00127,2,It is a Animation movie.,ok that sounds good . thats all i need.,"{'movies_3-cast': 'sterling K. Brown', 'movies_3-directed_by': 'Thurop Van Orman'}",test,"{'movies_3-cast': 'sterling K. Brown', 'movies_3-directed_by': 'Thurop Van Orman'}",9_00127,"[none, How about The Angry Birds Movie 2 ? The average rating of the movie is 72 percent.]","[I like to watch a movie. will you find me a movie which has sterling K. Brown as a actor and it should be directed by Thurop Van Orman, What is the genre of that movie?]",generate update operations: dialogue: system: It is a Animation movie. user: ok that sounds good . thats all i need. <sep> previous dialogue states: movies_3-cast = sterling K. Brown; movies_3-directed_by = Thurop Van Orman <sep> operations:,none,"[3806, 2270, 2673, 10, 7478, 10, 358, 10, 94, 19, 3, 9, 25835, 1974, 5, 1139, 10, 3, 1825, 24, 2993, 207, 3, 5, 24, 7, 66, 3, 23, 174, 5, 3, 32100, 1767, 7478, 2315, 10, 4876, 834, 519, 18, 5254, 3274, 24248, 480, 5, 3899, 117, 4876, 834, 519, 18, 22955, 834, 969, 3274, 23973, 9505, 4480, 955, 348, 3, 32100, 2673, 10, 1]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[5839, 1]"

In [30]:
list_dfs = []
for v in ("21", "22", "23", "24"):
    ds = load_from_disk(f"../data/processed/multiwoz_{v}")
    df = pd.concat([ds[split].to_pandas().assign(split=split) for split in ds]).assign(version=v)
    list_dfs.append(df)

In [31]:
df = pd.concat(list_dfs)

In [32]:
df["states"] = df["states"].map(remove_empty_slots)
df["slots"] = df["states"].map(extract_slots)

In [45]:
stats = (
    df.groupby(["dialogue_id", "split", "version"])
    .agg(
        n_domains=("turn_services", lambda ex: len(set(i for j in ex for i in j))),
        n_turns=("states", len),
        n_slots=("slots", lambda ex: len(set(i for j in ex for i in j))),
    )
    .groupby(["split", "version"])
    .describe()
    .round(2)
    .T.reindex(columns=["train", "validation", "test"], level=0)
)

In [65]:
stats = (
    df.explode("slots")
    .groupby(["slots", "version"])
    .agg(
        n_dialogues=("dialogue_id", "nunique"),
        n_turns=("turn_id", len),
    )
    .unstack(-1)
)

In [82]:
stats = (
    df.explode("turn_services")
    .groupby(["turn_services", "version"])
    .agg(
        n_dialogues=("dialogue_id", "nunique"),
        n_turns=("turn_id", len),
    )
    .T.stack(0)
)

In [3]:
df = pd.concat(
    [
        load_from_disk("../data/prepared/base/mwoz22_ops_nohist+prev")[split].to_pandas().assign(split=split)
        for split in ("train", "validation", "test")
    ]
)

In [14]:
print(
    df.loc[
        df["dialogue_id"] == "MUL0003.json",
        ["dialogue_id", "turn_id", "sys_utt", "usr_utt", "states", "input_text", "target_text"],
    ]
    .assign(states=lambda df_: df_["states"].map(remove_empty_slots))
    .rename(
        columns={
            "dialogue_id": "ID",
            "turn_id": "Turn",
            "sys_utt": "System",
            "usr_utt": "User",
            "input_text": "Input",
            "target_text": "Target",
            "states": "States",
        }
    )
    .drop(columns=["ID"])
    .head(3)
    .to_latex(index=False)
)

\begin{tabular}{rlllll}
\toprule
 Turn &                                                                                                     System &                                                                                                                                                User &                                                                                                                                                                    States &                                                                                                                                                                                                                                                                                                                                                                                                                                           Input &                                                                      Target \\
\midrule
    0 &                                                                                                       none &                                                                 I'm looking for a place to stay. It needs to be a guesthouse and include free wifi. &                                                                                                                     \{'hotel-internet': 'yes', 'hotel-type': 'guesthouse'\} &                                                                                                                                                                                                                                             generate update operations: dialogue: system: none user: I'm looking for a place to stay. It needs to be a guesthouse and include free wifi. <sep> previous dialogue states: none <sep> operations: &                INSERT hotel-internet = yes ; INSERT hotel-type = guesthouse \\
    1 & There are 23 hotels that meet your needs. Would you like to narrow your search by area and/or price range? &                                                                                           I would like for it to be cheap and include free parking. &                                                                \{'hotel-internet': 'yes', 'hotel-parking': 'yes', 'hotel-pricerange': 'cheap', 'hotel-type': 'guesthouse'\} &                                                                                                                        generate update operations: dialogue: system: There are 23 hotels that meet your needs. Would you like to narrow your search by area and/or price range? user: I would like for it to be cheap and include free parking. <sep> previous dialogue states: hotel-type = guesthouse; hotel-internet = yes <sep> operations: &                INSERT hotel-parking = yes ; INSERT hotel-pricerange = cheap \\
    2 &                   There are nine guesthouse hotels in various areas. What part of town are you hoping for? & Nothing in particular. I just need it booked for 6 people for a total of 4 nights starting from sunday. I'd also like the reference number, please. & \{'hotel-day': 'sunday', 'hotel-internet': 'yes', 'hotel-parking': 'yes', 'hotel-people': '6', 'hotel-pricerange': 'cheap', 'hotel-stay': '4', 'hotel-type': 'guesthouse'\} & generate update operations: dialogue: system: There are nine guesthouse hotels in various areas. What part of town are you hoping for? user: Nothing in particular. I just need it booked for 6 people for a total of 4 nights starting from sunday. I'd also like the reference number, please. <sep> previous dialogue states: hotel-pricerange = cheap; hotel-internet = yes; hotel-type = guesthouse; hotel-parking = yes <sep> operations: & INSERT hotel-day = sunday ; INSERT hotel-stay = 4 ; INSERT hotel-people = 6 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_71327/706422162.py:2: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  df.loc[

In [12]:
df["slots"] = df["states"].map(lambda ex: extract_slots(remove_empty_slots(ex)))

In [13]:
a = df.groupby("split")["slots"].agg(lambda ex: list(set(i for j in ex for i in j))).reset_index()

In [15]:
len(set(i for j in a for i in j))

114

In [2]:
df = pd.concat(
    [load_from_disk(f"../data/processed/multiwoz_{v}")["train"].to_pandas().assign(version=v) for v in ("21", "24")]
)

In [3]:
df = df.drop(columns=["split"]).assign(
    states=lambda df_: df_["states"].map(remove_empty_slots),
    turn_services=lambda df_: df_["turn_services"].map(set),
)

In [4]:
cdf = df.set_index(["dialogue_id", "turn_id", "version"]).unstack(-1)
cdf.columns = [f"{i}_{j}" for i, j in cdf.columns]
cdf = cdf.reset_index()

In [5]:
# turn_services
col = "turn_services"
cdf.loc[cdf[f"{col}_21"] != cdf[f"{col}_24"]]

Empty DataFrame
Columns: [dialogue_id, turn_id, sys_utt_21, sys_utt_24, usr_utt_21, usr_utt_24, states_21, states_24, turn_services_21, turn_services_24]
Index: []

In [6]:
# sys_utt
col = "sys_utt"
cdf.loc[cdf[f"{col}_21"] != cdf[f"{col}_24"]]

Empty DataFrame
Columns: [dialogue_id, turn_id, sys_utt_21, sys_utt_24, usr_utt_21, usr_utt_24, states_21, states_24, turn_services_21, turn_services_24]
Index: []

In [7]:
# usr_utt
col = "usr_utt"
cdf.loc[cdf[f"{col}_21"] != cdf[f"{col}_24"]]

Empty DataFrame
Columns: [dialogue_id, turn_id, sys_utt_21, sys_utt_24, usr_utt_21, usr_utt_24, states_21, states_24, turn_services_21, turn_services_24]
Index: []

In [46]:
# states
sdf = (
    df.assign(
        states=lambda df_: df_["states"].map(
            lambda ex: [(k, i) for k, v in ex.items() for i in v] if ex is not None else [("None",)]
        ),
    )
    .drop(columns=["sys_utt", "usr_utt", "turn_services"])
    .explode(column=["states"])
)

In [60]:
t_21 = sdf.loc[sdf["version"] == "21"]
t_21 = t_21.sort_values(t_21.columns[:-1].tolist()).drop(columns=["version"])

t_24 = sdf.loc[sdf["version"] == "24"]
t_24 = t_24.sort_values(t_24.columns[:-1].tolist()).drop(columns=["version"])

assert t_21.equals(t_24)